footer{
    background-color: var(--preto);
    color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer h2{
    font-size: 1.125rem;
    font-weight: 400;
}